frontend/target
frontend/codemirror/node_modules
*/target/
frontend/dist
frontend/dist-release
frontend/dist-e2e
frontend/dist-check
**/*.rs.bk
**/.*.swp
backend/db.sqlite*
backend/files
.env
config.toml
*/tarpaulin-report.html
e2e_tests/node_modules
e2e_tests/test-results
