@import "tailwindcss";

@plugin "./daisyui.mjs" {
  themes: nord --default, forest --prefersdark;
}

@plugin "./daisyui-theme.mjs" {
  themes: nord --default, forest --prefersdark;
}

@source "../src/**/*.rs";
@source "../index.html";
@source not "./daisyui{,*}.mjs";

html,
body {
  height: 100%;
}

.cm-editor,
.cm-mergeView {
  width: 100%;
  height: 100%;
}

.page-svg-container svg {
  width: 100%;
  height: auto;
  display: block;
}